<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSS News Aggregator | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <nav>
        <div class="site-title">
          <a href="/" class="topTitle"><h1 class="topTitle">RSS News Aggregator </h1></a>
          <h2><%= pageTitle %></h2>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/titles">Titles</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/documentation">Documentation</a></li>
            <% if (jsonData.clientDetails.adminAccess == true) { %>
                <li><a href="/admin">Admin</a></li>
            <% } %>
        </ul>
    </nav>


    <%- body %>
</body>

</html>