<form action="/login" method="POST" autocomplete="off">
    <label for="userKey">Enter User Key</label><br>
    <input type="text" id="userKey" name="userKey" autocomplete="off" required>

    <br><br>

    <input type="submit" value="Login" />
</form>